/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { /*font-size: 100%;*/ -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;  }

html, button, input, select, textarea { font-family: sans-serif; color: #464544; }

body { margin: 0; font-size: 0.85em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #6a4a03; }
a:visited { color: #644804; }
a:hover { text-decoration:underline;}
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
/*nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }*/


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; font-size:0.90em; }
fieldset { border: 0; /*margin: 2%; padding: 2%;*/-webkit-box-shadow: 3px 4px 14px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 4px 14px -2px rgba(0,0,0,0.75);
box-shadow: 3px 4px 14px -2px rgba(0,0,0,0.75); }



/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; /*margin-left: -7px;*/ padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }
.no-width-rest {width:100%;}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; width:98%; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
form td input[type="text"]{width:95%; border:thin solid #FFce58;}

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0;  width:100%; }
table, th, td{        border: thin solid #5c5649;    }
td { vertical-align: top; padding:0.5em; }
th {background-color:#bcae8b;padding:0.6em;} 


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: EADROIT
   ========================================================================== */
#wrapper{ margin:0 auto; width:1170px; position:relative; padding-right: 15px;  padding-left: 15px;    }
#header{background-color:#1b1714; padding:0.5%;margin:0; text-align:center;  }
/*form custom styles*/
form h1{font-size:2em;  text-align:center;}
img{max-width:100%; height:auto;}
.in-bloc{display:inline-block;}
.cent{margin:0 auto; text-align:center; margin:0 auto; }
.left-al{text-align:left; float:left;}
.right-al{text-align:left; float:right;}
/*span.ans-fs-legend{background-color:#ffce58; border:thin #5d5b59 solid; padding:0.5% 1%; /*position:absolute; top:-2.7em;}*/
.f-leg{ margin-bottom:1em;display:block; padding: 0.5em 1em; background-color:#ffce58; border:thin #5d5b59 solid; font-weight:600; font-size:1.05em; overflow:hidden;  }
.f-leg img{margin-right:0.4em;}
/*fieldset legend span{position:absolute; top:-3em; }*/
fieldset {position:relative; margin-bottom:2em;}
fieldset p{line-height: 2.5;  }
fieldset p label{width:12em; text-align:left;margin-right:1%; float:left; line-height:1.2em;}
input[type="text"]input[type="email"]input[type="select"]input[type="email"]{border:2px solid #E3EEEE; width:45%; height:1.5em; font-size:.7em; color: #6a6a6a; padding-left:.2em;}
ul.radio  { margin: 0;   padding: 0;    list-style: none; display:inline-block; } 
ul.radio li {   display:inline-block; margin-right:0.8em; } 
ul.radio label {width:12em;display: inline-block;  padding: 0.5em 0.8em;    cursor: pointer;}}
ul.radio li:hover, ul.radio li.focus  { } 
.col-2-grid{width:49%; display:inline-block; overflow:hidden; margin-right:1%; float:left;}
.col-2-grid p label {width:25%;}
.col-3-grid{width:32%; float:left; vertical-align:top; overflow:hidden; margin-right:1%;}
.col-3-grid label{width:12em;}
.col-6-grid{width:67%; float:left; vertical-align:top; overflow:hidden; }

.row{display:block;  width:100%; margin-bottom:1.5em;}
input[type="submit"], input[type="button"],.db-btn-set a, .db-btn-set a:link{ -moz-border-radius: 3px;
  -moz-box-shadow: #786249 1px 1px 0px;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-border-radius: 0.8em;
  -webkit-box-shadow: #6E7849 1px 1px 0px;
  -webkit-transition: all 0.5s ease;
  background-color: #f0d594;
  border-radius: 3px;
  border: thin solid #504c32;
  box-shadow: #786249 1px 1px 0px;
  color: #35302c;;
  display: inline-block;
  font-size: 0.85em;
  margin: auto;
  padding: 1em 3em;
  text-decoration: none; font-weight:600;
  transition: all 0.5s ease;
  
}
input[type="submit"]{margin-bottom:1em; padding:1em 4em;}
.button:hover {
  padding: 0.9em;
}
input[type="submit"], input[type="button"]{margin-right:1em;}

.db-btn-set{ text-align:center;}
.db-btn-set input[type="button"]{ min-width:80%; margin-bottom:2em;}
.db-btn-set, .btn-set{width:100%; text-align: center; }
.btn-set input[type="button"]{display:inline-block; min-width:6em;}
.db-btn-set a, .db-btn-set a:link {display:block; margin-bottom:1em; }
.db-btn-set a:hover{color:#e25d0c;}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size:0.8em; color:    #b8af95;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size:0.8em;
   color:    #b8af95;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size:0.8em;
   color:    #b8af95;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size:0.8em;
   color:    #b8af95;
}
fieldset p label{width:38%;text-align:left;margin-right:1%; float:left; line-height:1.2em;}

#login-box{width:40%; border:thin solid #ffce58; background-color:#fff5de; padding:3em; margin:5em auto;}
#login-box .f-leg{margin-bottom:3em; text-align:center;}
#login-box label{ text-align:left; display:inline-block; width:45%; margin: 1em;}
/*===========================================================================
	Navigation styles
	=========================================================================*/
.menu{margin-top:0.8em;}
/*----- Toggle Button -----*/
.toggle-nav {
    display:none;
}
 
/*----- Menu -----*/
@media screen and (min-width: 860px) {
    .menu {
        width:100%;
        /*padding:10px 18px;*/
        box-shadow:0px 1px 1px rgba(79,75,67,0.15);
        border-radius:3px;
        background:#e5d4ac;
    }
}
 
.menu ul {
    display:inline-block;
}
 
.menu li {
    margin:0px 50px 0px 0px;
    float:left;
    list-style:none;
    font-size:1.3em;
}
 
.menu li:last-child {
    margin-right:0px;
}
 
.menu a {
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    color:#2e2a22;
    transition:color linear 0.15s;
	text-decoration:none;
}
 
.menu a:hover, .menu .current-item a {
    color:#ad570b;
  }
 .menu a:visited{color:#565552;}

 
/*----- Responsive -----*/
@media screen and (max-width: 1200px) {
    .wrap {
        width:90%;
    }
}
 

 
@media screen and (max-width: 860px) {
    .menu {
        position:relative;
        display:inline-block;
    }
 
    .menu ul.active {
        display:none;
    }
 
    .menu ul {
        width:100%;
        position:absolute;
        top:120%;
        left:0px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#e5d4ac;
    }
 
    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }
 
    .menu li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }
 
    .menu a {
        display:block;
    }
 
    .toggle-nav {
        padding:20px;
        float:left;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#777;
        font-size:20px;
        transition:color linear 0.15s;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }
 
}




/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 769px) and (max-width: 1200px){
 /*input{display:inline-block; width:40%;} */
 input[type="submit"], input[type="button"] {min-width:5em;  width:auto:!important } 
 .btn-set input[type="button"]{display:inline-block; width:auto:!important} 

fieldset p label{width:12em;text-align:left;margin-right:1%; display:inline-block;line-height:1.2em;}
.col-3-grid{width:32%; display:inline-block;}

.col-6-grid{width:66%; display:inline-block;}
	
	}
@media only screen and (max-width:768px) and (min-width: 320px) {
  /* Style adjustments for viewports that meet the condition */
  body{font-size:150%;}
  
  form { margin:0 0.8em; font-size:175%; }
  #login-box{width:80%;}
  #login-box .f-leg{font-size:170%;}
  #login-box input[type="text"], #login-box input[type="password"]{border:thin solid #ffce58; background-color:#fff5de;}
 
 input{display:block; width:85%; padding:0.6em ;  } 
 input[type="radio"]{display:inline-block; width:auto;}
 input[type="submit"], input[type="button"] {max-width:35%; font-size:1em; padding:0.8em;} 
 .btn-set input[type="button"]{display:inline-block; min-width:5em;} 

fieldset p label{width:95%;text-align:left;margin-right:1%; margin-bottom:0.9em; display:block;line-height:1.6em;}
.col-3-grid{width:100%; display:block}
.col-6-grid{width:100%; display:block}
.col-2-grid{width:100%; display:block;}
.col-2-grid p label {width:80%; display:block;}

table.resp {overflow-x: auto;width:100%; margin-bottom:1em;}	
table.resp thead {display: none;}
table.resp tr:nth-of-type(2n) {background-color: inherit;}
table.resp tr td:first-child {background: #bcae8b; font-weight:bold;}
table.resp th td {display: block;  text-align:center;}
table.resp tbody td {display: block;  text-align:center;}
table.resp tbody td:before { 
    content: attr(data-th); 
    display: block;
    text-align:left;  
  }
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
